*
{
    margin: 0px;
    padding: 0xp;
    box-sizing: border-box;
}
.logo
{
    margin-left: 150px !important;
}
.img-fluid
{
    width: 50%;
    height: auto;
}
.row
{
    align-items: center;
    justify-content: center;
}

.header
{
    background-image: url(../image/1003583_fonds-decran-ambulance-tous-les-wallpapers-ambulance_1032x774_h.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
}
.menu nav
{
    background-color: rgb(109, 157, 221) !important;
}
.nav-link 
{
    transform: scale(1);
    transition: 0.5s;
}
.nav-link:hover
{
    transform: scale(1.2) translateY(-5px) rotate(0deg);
    color: red !important;
}
.headerdescription
{
    padding: 50px !important;
}
.headerdescription button
{
    color: blue;
    background-color: #fff;
    margin-top: 10px;
    border-radius: 50px;
    box-shadow: 0 0 0 5px blue;
}
.titrequisommesnous
{
    margin-top: 25px;
}
.sommesnousimg
{
    width: 100%;
    height: auto;
}
.separateur img
{
    width: 100%;
    max-height: 300px;
}
.colonnecarre
{
    justify-content: center;
    align-items: center;
}
.colonnecarre .carre
{
    height: 250px;
    max-width: 300px;
    border: solid;
    background-color: rgb(78, 144, 230);
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    border-radius: 20px;
    transform: scale(1);
    transition: 0.5s;
} 
.colonnecarre .carre:hover
{
    height: 250px;
    max-width: 300px;
    border: solid;
    background-color: rgb(36, 118, 226);
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    border-radius: 20px;
    transform: scale(1.2) translateY(-5px) rotate(0deg);
}  
.colonnecarre .carre:hover:before
{
    content:'';
    position: absolute;
    width: 150px;
    height: 140%;
    border: solid;
    background-color: rgb(36, 118, 226);
    background:linear-gradient(#0409fa,#fd0505);
    animation: animate 4s linear infinite;
    transform: scale(1.2) translateY(-5px) rotate(0deg);
}
.colonnecarre .carre:hover:after
{
    content: '';
    position: absolute;
    border: solid #fff;
    inset: 7px;
    background-color: rgb(36, 118, 226);
    border-radius: 16px;

}
@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(520deg);
    }
}
.colonnecarre .carre p
{
    padding-top: 25px;
    position: relative;
    color: #fff;
    font-size: 1.5em;
    z-index: 10;
}

.icone
{
    font-size: 200%;
    margin-top: -50px;
}
.icone1
{
    font-size: 200%;
    margin: 10px;
    transform: scale(1);
    transition: 0.5s;
}
.icone1:hover
{
    color: red;
    transform: scale(1.2) translateY(-5px) rotate(0deg);
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0 !important;
    margin-top: 70px;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
.icone2
{
    color: white;
    width: 20%;
    transform: scale(1);
    transition: 0.5s;
}
.icone2:hover
{
    color: red;
    transform: scale(1.2) translateY(-5px) rotate(0deg);
}
.loader
{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
    animation: animate 0.5s linear infinite;
}

.loader span
{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
}
.loader span:nth-child(1)
{
    filter: blur(5px);
}
.loader span:nth-child(2)
{
    filter: blur(10px);
}
.loader span:nth-child(3)
{
    filter: blur(25px);
}
.loader span:nth-child(4)
{
    filter: blur(50px);
}
.loader::after
{
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: #240229;
    border-radius: 50%;
}

.loader1
{
    position: absolute;
    top: 48px;
    left: 276px;
    width: 30px;
    height: 25px;
    border-radius: 50%;
    background: linear-gradient(#1707f1, #caa80f, #fc0505);
    animation: animate 0.5s linear infinite;
}

.loader1 span
{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#1707f1, #caa80f, #fc0505);
}
.loader1 span:nth-child(1)
{
    filter: blur(5px);
}
.loader1 span:nth-child(2)
{
    filter: blur(10px);
}
.loader1 span:nth-child(3)
{
    filter: blur(25px);
}
.loader1 span:nth-child(4)
{
    filter: blur(50px);
}
.loader1::after
{
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: #240229;
    border-radius: 50%;
}